# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets / environment variables
.env
.env.*

# VS Code / IDE settings
.vscode/
.idea/

# Jupyter temporary files
.ipynb_checkpoints/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

models/sentiment/model.safetensors
models/sentiment/tokenizer.json
models/sentiment/config.json
models/sentiment/tokenizer_config.json

# Trained Models
models/

# Hugging Face Checkpoints
checkpoint-*/

# Model Files
*.safetensors
*.bin
*.pt

# Trainer Files
trainer_state.json
training_args.bin